/*baidu_图片切换*/
.container .img-holder {
  width:25%;
  height:180px;
  position:absolute;
  background-color:#fff;  
  box-shadow:0px 1px 6px 3px #ccc; 
  visiblity:hidden;
  opacity:0;
  left:380px;
  cursor:pointer;
  z-index:99;
  margin: 0 auto;
}

.container .img-holder img {margin-top:5px;}

.container{   
  position:relative;
  height:200px;
  width:100%;
  text-indent:4px;
  font-weight:bold;
  margin: 0 auto;
}

.scrolller-container{
  margin: 0 auto;
  width:80%;
  height:15px;
  border:1px solid #ccc;
  border-radius:10px;
  position:relative;
  top:220px;
  cursor:pointer; 
}
.scrolller-container .scroller{
   width:12.5%;
   height:15px;
   background-color:#ddd;
   border-radius:10px;
   position:absolute;
   left:0px;
}

/* For reflection */
.container .img-ref{
  position:relative;
  left:0;   
  z-index:-1;
}
.container .img-ref img {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}

/*最新资讯*/
.news_topNew {margin-top: 50px;width: 100%;height: 380px;background: rgba(68,138,202,0.1);margin-bottom: 10px;}
.news_latest{width: 100%;height: 300px;}
.news_latest ul {float: left;width: 45%;}
.news_latest ul li{height: 30px;list-style-type: disc;color: rgba(255,255,255,0.8);}
.news_latest ul li a{color: rgba(158,173,205,1);text-decoration: none;font-family: "Lucida Grande","Century Gothic";font-size: 15px;}
.news_latest ul li a:hover{text-decoration: underline;color: rgba(255,255,255,1);}
.news_latest .mainNew {text-align: center;font-family: "Lucida Grande","Century Gothic";padding-top: 20px;padding-bottom: 10px;}
.news_latest .mainNew a{color: rgba(115,162,254,1);text-decoration: none;font-size: 25px;font-weight: bold;text-shadow:1px 1px 0px rgba(0,0,0,0.7);}
.news_latest .mainNew a:hover{color: rgba(56,99,184,1);}

/*模块分类*/
.news_module {width: 49.5%;height: 500px;background: rgba(68,138,202,0.1);margin-bottom: 10px;float: left;}
.news_module .news_module_main {text-align: center;}
.news_module .news_module_main a img {width: 85%;height: 200px;margin: 10px 30px 5px 30px;position: relative;}
.news_module .news_module_main a {text-decoration: none;text-align: center;}
.news_module .news_module_main a b {font-size: 13px;font-family: "Lucida Grande","Century Gothic";color: rgba(158,173,205,0.7);}
.news_module .news_module_main a:hover {color: rgba(158,173,205,1);text-decoration: underline;}
.news_module ul li{height: 30px;list-style-type: disc;color: rgba(255,255,255,0.8);}
.news_module ul li a{color: rgba(158,173,205,1);text-decoration: none;font-family: "Lucida Grande","Century Gothic";font-size: 15px;}
.news_module ul li a:hover{text-decoration: underline;color: rgba(255,255,255,1);}
.news_module ul li i {float: right;font-size: 13px;font-family: "Lucida Grande","Century Gothic";margin-right: 25px;color: rgba(158,173,205,1);}



/*news_article*/
/*main_article*/
.main_article {width: 100%;float: left;height: auto;background: rgba(255,255,255,1);}
.main_article table {border: solid 1px rgba(0,0,0,0.1);border-spacing: 0;width: 100%;}
.main_article_con {
    background: rgba(255,255,255,1);
    border-left: solid 1px rgba(161,161,161,1);
    width: 100%;
    overflow: hidden;
    vertical-align: top;
    height: auto;
}
/*标题*/
.main_article_con .title {
    width:100%;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    color: rgba(0,0,0,1);
    padding-top: 20px;
}
/*作者、发布时间、评论数*/
.main_article_con .author {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-family: "Lucida Grande","Century Gothic";
    color: rgba(120,120,120,1);
    padding-bottom: 20px;
    border-bottom: solid 2px rgba(150,150,150,1);
}
.main_article_con .author span {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-family: "Lucida Grande","Century Gothic";
    color: rgba(120,120,120,0.8);
    text-decoration:none;
}
/*内容*/
.main_article_con .content {
    width: 90%;
    margin: 0 auto;
    color: rgba(0,0,0,1);
    font-family: "Lucida Grande","Century Gothic";
    font-size: 15px;
    text-indent: 2em;
    line-height: 25px;
    word-spacing: 5px;
    margin: 10px auto;
}
.main_article_con .news_img {
    width: 70%;
    height: 300px;
    margin: 0 auto;
}
.main_article_con .news_img img {width: 480px;height: 300px;}

/*附件*/
.attachment_download {width: 100%;padding-top: 10px; margin-bottom: 10px; border-top: 1px solid rgba(161,161,161,1); border-bottom: 1px solid rgba(161,161,161,1)}
.attachment_download span {
    font-size: 15px;
    font-family: "Lucida Grande","Century Gothic";
    color: rgba(120,120,120,1);
    margin-left: 10px;
    float: left;
}
.attachment_download a{
    font-size: 15px;
    font-family: "Lucida Grande","Century Gothic";
    color: rgba(120,120,120,1);
    margin-left: 5px;
    float: left;
    text-decoration: none;
}
.attachment_download a:hover {
    text-decoration: underline;
    color: rgba(0,0,0,1);
}

/*内容底部回复评论按钮*/
.text {font-size: 13px;color: rgba(142,142,142,1);font-family: "Microsoft YaHei";}
.num {font-size: 13px;color: rgba(255,0,0,1);font-family: "Microsoft YaHei";}
.main_article_bottom {
  width: 90%;
  height: 25px;
  border-top: dashed 1px rgba(0,0,0,0.7);
  vertical-align: middle;
  margin: 10px auto;
  position: relative;
  bottom: 0;
}
.main_article_bottom a {
  text-decoration: none;
  font-family: "Lucida Grande","Century Gothic";
  font-size: 14px;
  color: rgba(0,0,0,1);
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  vertical-align: middle;
  position: relative;
}
.main_article_bottom a img {width: 20px;height: 20px;float: left;position: relative;margin-right: 5px;}
.main_article_bottom a:hover {cursor: pointer;box-shadow:1px 1px 5px #000;}

/*用户信息背景*/
.reply_user {
  background: rgba(241,241,241,1);
  border-right: solid 1px rgba(161,161,161,1);
  width: 20%;
  vertical-align: top;
  overflow: hidden;
  padding-top: 5px;
  text-align: center;
}
/*用户名片*/
.user_namecard {margin: 0 auto;margin-top: 15px;height: 190px;text-align: left;width: 120px;position: relative;top: 0;}
.user_namecard a {text-decoration: none;font-family: "Microsoft YaHei";font-size: 15px;font-weight: bold;color: rgba(0,0,0,0.8);}
.user_namecard a img {width: 100px;height: 100px;border: solid 10px rgba(255,255,255,1);box-shadow:1px 1px 5px #000;position: relative;margin-bottom: 5px;}
.user_namecard a:hover {color: rgba(0,0,0,1);text-decoration: underline;}

/*内容背景*/
.reply_con_bg {
  background: rgba(255,255,255,1);
  width: 80%;
  overflow: hidden;
  vertical-align: top;
}
.reply_con_bg .main_reply {width: 100%;margin: 0 auto;}
/*发表时间 楼层*/
.main_reply_banner {width: 100%;height: 25px;margin: 0 auto;border-bottom: dashed 1px rgba(0,0,0,0.7);vertical-align: middle;margin-top: 10px;}
.main_reply_banner img {width: 20px;height: 20px;float: left;position: relative;margin-right: 5px;}
.main_reply_banner .reply_time {font-family: "Lucida Grande","Century Gothic";font-size: 15px;color: rgb(119, 119, 119);float: left;}
.main_reply_banner .reply_floor {font-family: "Lucida Grande","Century Gothic";font-size: 15px;color: rgb(119, 119, 119);float: right;}
/*正文*/
.reply_con_bg .main_reply_con {width: 100%;height: auto;margin: 0 auto;}
.reply_con_bg .main_reply_con img {cursor: pointer;position: relative;margin-top: 10px;}
.reply_con_bg .main_reply_con img:hover {box-shadow:1px 1px 5px #000;}
.reply_con_bg .main_reply_con p{text-indent: 2em;color: #000;font-size: 15px;font-family: "Lucida Grande","Century Gothic";}
.reply_con_bg .main_reply_con p a{text-decoration: none;font-size: 15px;font-family: "Lucida Grande","Century Gothic";color: rgba(0,0,255,1);}
.reply_con_bg .main_reply_con p a:hover{text-decoration: underline;color: rgba(255,0,0,1);}
.reply_con_bg .main_reply_con p a:active {text-decoration: underline;color: rgba(255,0,0,1);}
.reply_con_bg .main_reply_con p a:visited {text-decoration: none;color: rgba(40,0,0,1);}

/*回复区*/
.reply {width: 98%; height: 180px;word-wrap: break-word; margin: 0 auto; margin-top: 20px;}
.reply_banner {width: 100%;height: 30px;background: rgba(241,241,241,1);display: block;border-bottom: solid 1px rgba(0,0,0,0.8);}
.reply_banner a {
  text-decoration: none;
  float: left;
  width: 30px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  padding-top: 5px;
}
.reply_banner .add_attachments {color: rgba(0,0,0,0.8);width: auto;font-size: 15px;height: 22px;padding-top: 8px;margin-left: 30px;}
.reply_banner a:hover {box-shadow: 1px 1px 2px rgba(0,0,0,0.3);}
.reply_area {padding: 5px; border: 1px solid #1f6977}
textarea {width: 100%;height: 100%;overflow-y: auto; border: none; font-size: 15px;font-family: "Lucida Grande","Century Gothic"; padding: 5px; resize: none}
.reply button {
  width: 15%;
  height: 25px;
  border: solid 1px rgba(255,0,0,1);
  background: rgba(255,20,20,1);
  margin-top: 20px;
  float: right;
  color: rgba(255,255,255,1);
  font-size: 15px;
  font-family: "Microsoft YaHei";
  cursor: pointer;
}
.reply button:hover {font-weight:bold;}

/*类似文章推荐*/
.r_news {
  width: 25%;
  height: auto;
  float: right;
  background: rgba(255,255,255,1);
}
.r_news .module_title{
  padding-bottom: 5px;
  width: 100%;
  height: 25px;
  border-bottom: solid 1px rgba(161,161,161,0.3);
  padding-top: 10px;
  padding-left: 20px;
  font-size: 20px;
  color: rgba(0,0,0,1);
  font-family: "Microsoft YaHei";
  font-weight: bold;
}
.r_news .con {width: 90%;height: auto;}
.r_news .con ul li {
  padding-top: 5px;
  width: 100%;
  height: 25px;
  list-style-type: disc;
  border-bottom: dotted 1px rgba(120,120,120,1);
}
.r_news .con ul li a{
  font-size: 15px;
  font-family: "Lucida Grande","Century Gothic";
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}
.r_news .con ul li a:hover {color: rgba(0,0,0,1);text-decoration: underline;}